<h2>Second Custom Form</h2>
<form id="second-custom-coupon-form" data-mage-init='{"validation":{}}'>
    <label for="second-coupon-abc-123">Format: ABC-123</label>
    <input name="second-coupon-abc-123" id="second-coupon-abc-123" data-validate='{"validate-second-coupon-abc-123":true}' placeholder="ABC-123">
<!--    <label for="second-coupon-abc-abc">Format: ABC-ABC</label>-->
<!--    <input name="second-coupon-abc-abc" id="second-coupon-abc-abc" data-validate='{"validate-second-coupon-abc-abc":true}' placeholder="ABC-ABC">-->
<!--    <label for="second-coupon-123-123">Format: 123-123</label>-->
<!--    <input name="second-coupon-123-123" id="second-coupon-123-123" data-validate='{"validate-second-coupon-123-123":true}' placeholder="123-123">-->
    <button type="submit">Send</button>
</form>
